
{{#if userInSession}}
<h2>A침ade tu mascota</h2>
<form class="form-group" action="/addPet" method="POST" enctype="multipart/form-data">
  <label for="profilePicContainer">Foto</label>
  <div class="custom-file" id="profilePicContainer">
    <input type="file" class="custom-file-input" id="profilePic" name="pic" accept="image/png, image/jpeg">
    <label class="custom-file-label form-control" for="profilePic" id="profilePicName">Elige un archivo</label>
  </div>
  <label for="name">Nombre</label>
  <input class="form-control" type="text" name="name" required/>
  <label for="animal">Tipo</label>
  <select class="form-control" name="animal" required>
    <option value="cat">Gato</option>
    <option value="dog">Perro</option>
  </select>
  <label for="breed">Raza</label>
  <input class="form-control" type="text" name="breed" required/>
  <label for="birthdate">Fecha de nacimiento</label>
  <input class="form-control" type="date" id="petBirth" name="birthdate" placeholder="Puede ser aproximada" required/> 
  <label for="age">Edad</label> 
  <input class="form-control" type="number" id="petAge" name="age" min="1" readonly required/>
  <button type="submit" class="btn btn-success mt-3">A침adir mascota</button> 
</form>
<a class="btn btn-danger" href="/pets">Cancelar</a>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
<script src="/javascripts/createPet/petAge.js"></script>
<script src="/javascripts/formsScripts/fileName.js"></script>
{{else}}
<p>Por favor inicia sesi칩n para acceder a esta p치gin.</p>
{{/if}}