
{{#if userInSession}}
<h2 class="text-center m-3">Añade a tu mascota</h2>
<div class="d-flex justify-content-center">
  <form class="form-group w-75" action="/addPet" method="POST" enctype="multipart/form-data">
    <label for="profilePicContainer">Foto (opcional)</label>
    <div class="custom-file" id="profilePicContainer">
      <input type="file" class="custom-file-input" id="profilePic" name="pic" accept="image/png, image/jpeg">
      <label class="custom-file-label form-control" for="profilePic" id="profilePicName">Elige un archivo</label>
    </div>
    <label for="name">Name: </label>
    <input class="form-control" type="text" name="name" required />
    <label for="animal">Type: </label>
    <select class="form-control" name="animal" required>
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
    </select>
    <label for="breed">Breed: </label>
    <input class="form-control" type="text" name="breed" required />
    <label for="birthdate">Birth date:</label>
    <input class="form-control" type="date" id="petBirth" name="birthdate" placeholder="It can be an approximate :)"
      required />
    <label for="age">Age: </label>
    <input class="form-control" type="number" id="petAge" name="age" min="1" readonly required />
    <button type="submit" class="btn btn-success mt-3">Add pet</button>
    <a class="btn btn-secondary mt-3" href="/user-profile">Back</a>
  </form>
</div>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
<script src="/javascripts/createPet/petAge.js"></script>
<script src="/javascripts/formsScripts/fileName.js"></script>
{{else}}
<p>Please log in first to access this page.</p>
{{/if}}