
{{#if userInSession}}
<h2>Add a pet page</h2>
<form class="form-group" action="/user-profile/addPet" method="POST">
  <label for="name">Name: </label>
  <input class="form-control" type="text" name="name" required/>
  <label for="animal">Type: </label>
  <select class="form-control" name="animal" required>
    <option value="cat">Cat</option>
    <option value="dog">Dog</option>
  </select>
  <label for="breed">Breed: </label>
  <input class="form-control" type="text" name="breed" required/>
  <label for="birthdate">Birth date:</label>
  <input class="form-control" type="date" id="petBirth" name="birthdate" placeholder="It can be an approximate :)" required/> 
  <label for="age">Age: </label> 
  <input class="form-control" type="number" id="petAge" name="age" min="1" readonly required/>
  <button type="submit" class="btn btn-success mt-3">Add pet</button>
  <a class="btn btn-secondary mt-3" href="/user-profile">Back</a>
</form>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
<script src="/javascripts/createPet/petAge.js"></script>
{{else}}
<p>Please log in first to access this page.</p>
{{/if}}