
{{#if userInSession}}
  <h2>Welcome, {{ userInSession.username }}!</h2>
  <div class="container d-flex flex-column align-items-center mt-5"> 
    <div>
      <a href="edit/user-profile"><img src="/images/defaultPic.png" alt="editar perfil" width="128px" height="128px" /></a>
    </div>
    {{#if myPets}}
    <a class="btn btn-primary mt-3" href="/pets">Mis mascotas</a>
    <a class="btn btn-primary mt-3" href="/appointments">Mis citas</a>
    {{else}}
    <a class="btn btn-primary mt-3" href="/user-profile/addPet">Add a pet</a>
    {{/if}}
    {{else}}
    <p>You are not logged in.</p>
    {{/if}}
  </div>


  <!--<div>
    <a href="edit/user-profile"><img id="edit-icon" src="../../images/edit-icon.png">Editar perfil</a>
  </div>-->
 
