
{{#if userInSession}}
  <div class="container d-flex flex-column align-items-center mt-5"> 
    <div class="w-100 text-center">
      <a href="edit/user-profile"><img src="{{userInSession.profilePic}}" alt="editar perfil" width="256px" height="256px" /></a>
      <h4 class="mt-2">Bienvenido, {{ userInSession.firstName }}!</h4>
    </div>
    {{#if myPets}}
    <a class="btn btn-primary mt-3" href="/pets">Mis mascotas</a>
    <a class="btn btn-primary mt-3" href="/appointments">Mis citas</a>
    {{else}}
    <a class="btn btn-primary mt-3" href="/addPet">Añade tu primera mascota</a>
    {{/if}}
    {{else}}
    <p>You are not logged in.</p>
    {{/if}}
  </div>


  <!--<div>
    <a href="edit/user-profile"><img id="edit-icon" src="../../images/edit-icon.png">Editar perfil</a>
  </div>-->
 
