body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

#edit-icon {
  width: 30px;
}

div.customCard {
  font-size: 1.25rem;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  height: 25%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

div.customCard div.customCardImg {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.customCard div.customCardImg#appoImg {
  background-color: steelblue;
  height: auto;
}

div.customCard div.customCardImg img {
  height: 100%;
  width: 100%;
}

div.customCard div.customCardImg img#calendar {
  height: 96px;
  width: 96px;
}

div.customCard div.customCardDetails {
  text-align: left;
  padding: 10px;
  width: 60%;
}

div.customCard div.customCardDetails span {
  text-align: center;
  font-size: 0.95rem;
}

.noTextDecorUni > * {
text-decoration: none;
color: black;
}
