<div class="container">
  <form class="form-group" action="/edit/appointment/{{appointment._id}}" method="POST">
    <label for=""></label>
    <input class="form-contol" type="" value="" name=""/>
    <label for=""></label>
    <input class="form-contol" type="" value="" name=""/>
    <label for=""></label>
    <input class="form-contol" type="" value="" name=""/>
    <label for=""></label>
    <input class="form-contol" type="" value="" name=""/>
    <label for=""></label>
    <input class="form-contol" type="" value="" name=""/>
    <label for=""></label>
    <input class="form-contol" type="" value="" name=""/>
    <label for=""></label>
    <input class="form-contol" type="" value="" name=""/>
    <label for=""></label>
    <input class="form-contol" type="" value="" name=""/>
    <label for=""></label>
    <input class="form-contol" type="" value="" name=""/>
  </form>
</div>